<h2>Crear Contacto</h2>
<form [formGroup]="form" (ngSubmit)="create()">
    <input type="text" placeholder="Nombre" formControlName="name">
    <input type="number" placeholder="Numero" formControlName="number">
    <button type="submit" [disabled]="form.invalid"> Crear </button>
</form>

<h2>Contactos</h2>

<ng-container *ngIf="loading |async; else elseTemplate">
    loading ...
</ng-container>
<ng-template #elseTemplate>
    <ul>
        <li *ngFor="let contact  of contacts | async">
            <div>
                <strong>Nombre: </strong>
                {{contact.name}} |

                <strong>Numero: </strong>
                {{contact.number}} |

                <button (click)="delete(contact.id)">Eliminar </button>
            </div>
            <br>
        </li>
    </ul>
</ng-template>